pom.xml
*jar
/lib/
/classes/
/temp/
.lein-deps-sum
/.lein-failures
.classpath
.project
.settings/*
/wiki/
target/repl-port
target/stale/dependencies
/target/
/res/git-version
/.lein-repl-history
/.nrepl-port
/checkouts/
/.cljs_rhino_repl/
